.footer{
    
    .footerWrapper{

        

        p{
            color: white;
            margin-left: 80px;

            @media only screen and (max-width: 521px){
                margin-left: 0;
              }
        }
        .footerItems{
        display: flex;
        justify-content: center;
        list-style: none;
        margin-left: 10px;

        @media only screen and (max-width: 521px){
            margin-left: 0;
            padding:0;
          }

            .footerItem{
                color:white;
                padding:0 30px;
                
            }

            .line{
                border-right: solid white 1px;
            }
        }
    }
}